<h1> Add Question </h1>

<% questions.text_field :content %>
<% questions.text_field :option1 %>
<% questions.text_field :option2 %>
<% questions.text_field :option3 %>
<% questions.text_field :option4 %>